/*h1{
    font-size: 4rem;
    font-family:;
    padding:10px;
    color:darkblue;
    text-align: center;
    padding-bottom:0px;
}*/

*{
    margin:0;
    padding: 0;
}
h1 {
  text-align: center;
  font-size: 6rem;
  font-family: "Cookie";
  padding: 10px;
  margin: 5px;
  z-index: 1;
  opacity: 0.8;
    color: saddlebrown;
    text-shadow: 5px 3px 4px white
}
h2{
    font-size:1.8rem;
    border-bottom-style: groove;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px
}

body {
  background-color: lightyellow;
  border-style: outset;
  border-width: 6px;
  padding: 15px;
  font-family:Arial;
}

nav ul {
  background-color: navajowhite;
  border-style: solid;
  border-color: saddlebrown;
  border-width: 2px;
  padding: 15px;
  /*border-radius: 10px;*/
}
nav ul li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
img {
  border-radius: 30px;
}
*{
    padding-left: 5px;
    text-align: justify;
}
.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    padding:15px;
}
.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
    padding:15px;
}
.center3 {
  display:inline;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
    padding:15px;
}
.center4 {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
    padding:15px;
}
h3{
    text-align: center
}
h4{
    text-align:center;
}